//
   Created with JetBrains WebStorm.
   User: keithelliott
   Date: 1/8/13
   Time: 1:24 AM
   To change this template use File | Settings | File Templates.
extends layout
block header
    div#banner_background(style="height:240px")
        div#banner
            img(src='../images/adoptions.png')
            div.caption(style="bottom: 9px;width: 942px;margin-left: 10px;")
                p Although adoption is a positive life changing event, the laws that govern Georgia adoptions are complex and stringent. Seek legal counsel early in the process to ensure that all documents are filed accurately and timely.
block content
    div#content
        hgroup
            h1 Adoptions
            p Although adoption is a positive life changing event, the laws that govern Georgia adoptions are complex and stringent. Seek legal counsel early in the process to ensure that all documents are filed accurately and timely. The adoption process is arduous, and a knowledgeable attorney can help you navigate the legal process.
            p The Campbell Law Practice, LLC is accepting the following types of domestic Adoptions at this time:
            p.bold Adoption through Public Agency and Foster Care Adoptions:
                span.normal These adoptions cover adoption placements by both private agencies and the Department of Human Resources, either directly or through its contract agencies.
            p.bold Adoption by an Independent Third Party (Private Adoptions):
                span.normal This adoption occurs when a person who is not the child’s stepparent or relative adopts a child without the assistance from a private agency or the State.  A parent, guardian, and/or biological father may surrender directly to the adoptive parent, or the adoptive parent may seek termination of rights.
            p.bold Interstate Adoption:
                span.normal This adoption occurs when the child to be adopted is born and resides in a different state than the adoptive parents.  This can be a very complicated type of adoption without an experienced adoption attorney representing you.  Contact The Campbell Law Practice, LLC for your initial consultation today.
            p.bold Adoption by a Stepparent:
                span.normal This type of adoption is defined as when a stepparent seeks to adopt.   Generally, a child whose legal father and legal mother are both living, but are not still married to each other may be adopted by the spouse of either parent.
            p.bold Adoption by a Relative:
                span.normal A child who has any living parent or guardian may be adopted by a relative who is related by blood or marriage to the child as a grandparent, great-grandparent, aunt, uncle, great aunt, great uncle or sibling.
            p Additionally, many adoptive parents are unaware that there are adoption benefits available, if they qualify.  It is important to contact an experienced adoption attorney to advise you as to whether your child may qualify for adoption benefits.
                span.contactLang Contact The Campbell Law Practice, LLC to speak with an experienced adoption attorney today!
            h1 ADOPTION FAQ
            h4 Who can adopt in the state of Georgia?
            p The initial requirements that a person must meet in order to adopt a child in Georgia are as follows:
            ul#initialReq
                li The person is either at least 25 years of age or is married and living with his or her spouse; and
                li The person is at least ten (10) years older than the child; and
                li The person has been a bona fide resident of Georgia for at least six months immediately preceding the filing of the petition; and
                li The person is financially, physically, and mentally able to have permanent custody of the child.
            h4 Where is the proper venue to file an adoption?
            p In Georgia, generally, you should file your adoption in the Superior Court of the county of the petitioner’s residence.  However, upon good cause shown, the court of the county of the child’s residence or of the county in which is located any child-placing agency having legal custody of the child sought to be adopted.
            h4 When is a home investigation and criminal background check necessary in an adoption?
            p A criminal back ground check must be completed in all cases.  A home investigation is required for adoptions by a third party.  It is at the court’s discretion if the adoption is pursuant to a stepparent or relative adoption.  A home investigation does not need to be completed for an adoption that is pursuant to a foreign decree and valid visa.
            h4 Are there any adoption benefits to assist with the costs of adopting a child?
            p Yes.  To assist with the expensive costs of adopting a child, Georgia provides four types of adoption assistance: monthly assistance, non-recurring assistance, Medicaid, and special services adoption assistance.  Contact The Campbell Law Practice, LLC to see how you may qualify for adoption assistance.
            h4 How do you apply for adoption assistance benefits?
            p The Georgia Department of Human Resources administers the adoption assistance program through the local Department of Family and children Services (DFCS).  The adoptive family must go to the DFCS office in the county where they reside and take a copy of the filed Adoption Petition and Order from the Judge granting the hearing to apply for the benefits.  The adoptive family must apply before the adoption is finalized. The adoption assistance agreement must be signed prior to the finalization of the adoption.

