//
   Created with JetBrains WebStorm.
   User: keithelliott
   Date: 12/31/12
   Time: 10:48 AM
   To change this template use File | Settings | File Templates.
extends index
block content
    div#content
        div#attorney_photo
            img(src="/images/tina.JPG")
        hgroup
            h1 Attorney Profile
            h2 Christina E. Campbell
            p Christina E. Campbell is the founder of The Campbell Law Practice, LLC located in Atlanta, Georgia. Prior to law school, she earned her Bachelor of Science degree in Management, with concentrations in Marketing and Organizational Psychology from Georgia Institute of Technology. While at Georgia Tech, she was a scholarship athlete on the Women’s Indoor and Outdoor Track and Field team.

            p Christina Campbell commenced her career at prominent law firms in Atlanta, Georgia. Early in her legal career, she specialized in personal injury, and medical malpractice cases with the potential verdict to exceed half a million dollars. She later extended her practice areas to include workers’ compensation cases where she defended an array of employers and insurance companies. Now that she represents the injured worker, she benefits from understanding the intra-workings of the insurance company, especially when it comes to evaluating the exposure of a case and prior to settlement or litigation. Through her experiences, she has been effective at resolving cases through alternative resolutions; such as mediating, negotiating and settling complex cases. However, if a case is unable to be resolved in this manner, she is a strong advocate with the experience necessary to resolve it through litigation.

            p She is also a trained Guardian ad Litem. She evaluates and investigates what is in the best interest of children in contested custody disputes in Family Law cases. Christina Campbell has a passion for children and families. She has also expanded her practice areas to include Adoptions. In her spare time, she enjoys running and spending time with her family.

            ul
                li.bold Education:
                li The University of Tennessee College of Law; Juris Doctor (2003)
                li Georgia Institute of Technology; Bachelor of Science (1998)

            ul
                li.bold Bar Admissions:
                li State Bar of Georgia
                li Georgia Court of Appeals
                li The Northern District Court of Georgia
                li U.S. Court of Appeals, Eleventh Circuit

            ul
                li.bold Professional Memberships:
                li State Bar of Georgia
                li Atlanta Bar Association
                li Georgia Association of Black Women Attorneys

