//
   Created with JetBrains WebStorm.
   User: keithelliott
   Date: 12/31/12
   Time: 10:53 AM
   To change this template use File | Settings | File Templates.
extends index
block content
    div#content
        hgroup
            h1 Contact The Campbell Law Practice, LLC
            h2 Attorney Christina Campbell
            ul
                li.bold Office Address
                li 3915 Cascade Road, Suite T138
                li Atlanta, GA 30331
                li (T)404.981.5257
                li (F)404.410.6923
                li
                    a(href='http://goo.gl/maps/4cFYw') Directions
            div.map
                iframe(width="425", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3915+Cascade+Road,+GA+30331&amp;aq=&amp;sll=33.726681,-84.515735&amp;sspn=0.011779,0.01384&amp;t=m&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=3915+Cascade+Rd,+Atlanta,+Fulton,+Georgia+30331&amp;ll=33.726695,-84.515762&amp;spn=0.024985,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed")
                br
                small
                    a(href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=3915+Cascade+Road,+GA+30331&amp;aq=&amp;sll=33.726681,-84.515735&amp;sspn=0.011779,0.01384&amp;t=m&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=3915+Cascade+Rd,+Atlanta,+Fulton,+Georgia+30331&amp;ll=33.726695,-84.515762&amp;spn=0.024985,0.036478&amp;z=14&amp;iwloc=A", style="color:#0000FF;text-align:left") View Larger Map

