//
   Created with JetBrains WebStorm.
   User: keithelliott
   Date: 1/8/13
   Time: 1:24 AM
   To change this template use File | Settings | File Templates.
extends layout
block header
    div#banner_background(style="height:240px")
        div#banner
            img(src='../images/gaurdianadlitem.png')
            div.caption(style="bottom: 10px;width: 935px;margin-left: 10px;")
                p A Guardian ad Litem acts as an officer of the court in contested custody and visitation disputes.  The Guardian ad Litem does not represent the child in the dispute, but retains the responsibility of focusing on the best interests of the child.

    div.content_wrapper
block content
    div#content
        hgroup
            h1 GUARDIAN AD LITEM
            p A Guardian ad Litem acts as an officer of the court in contested custody and visitation disputes.  The Guardian ad Litem does not represent the child in the dispute, but retains the responsibility of focusing on the best interests of the child. The impact of a divorce, visitation or custody dispute can be traumatic on children and families.  It can be detrimental to your case if you do not have an experienced and trained Guardian ad Litem that is working for the best interest of your children.  Christina E. Campbell is a trained, experienced and Guardian ad Litem.  She is passionate about seeking the best interest for your children.  She is trained on the impact of divorce and custody disputes on children; the developmental needs of children, recognition and assessment of a child’s best interests; domestic relations law and procedure, and recognition of cultural and economic diversity in families and communities.
            p There are three common types of custody disputes that a Guardian ad Litem is appointed in:
            p (A)	Initial Determination of Custody
            p (B)	Modification of Custody; and
            p (C)	Legitimation.
            p Attorney Campbell is accepting Guardian ad Litem appointments. Contact The Campbell Law Practice, LLC today to speak to an experienced Guardian ad Litem.
            h1 The Guardian Ad Litem FAQ
            h4 What should I expect if my case has been assigned a Guardian ad Litem?
            p A Guardian ad Litem (GAL) is an officer of the Court, and assists the Judge and the parties in reaching a decision regarding child custody, visitation and child-related issues.  The GAL will conduct an investigation, to include meeting with each parent, meeting with the children and observing the children in each parent’s home.  After the investigation is completed, the GAL will let the parties know what he or she believes would be the custody and parenting arrangement that would be in the best interests of the children.  The GAL’s recommendation usually helps to settle custody disputes.
            p However, if the case does not settle, the GAL will provide the Court with a written summary of his or her investigation and a recommendation on physical and legal custody.  Should the parties be unable to resolve the case, the GAL will be qualified as an expert in the best interests of the children at trial and will testify as to his or her recommendation.
            h4 How does a Guardian ad Litem get involved in a custody dispute?
            p The Guardian ad Litem is appointed to assist in a domestic relations case by the Superior Court Judge assigned to hear that particular care.

            h4 How does the Guardian ad Litem communicate with the Court her recommendation?
            p The Guardian ad litem usually submits to the parties or counsel and to the Court a written report detailing her findings and recommendations.  If a trial is necessary, the Guardian ad Litem is expected to be called as the Court’s witness at trial.  The Guardian ad Litem may testify as to the foundation provided by witnesses and sources, the results of her investigation, including a recommendation as to what is in a child’s best interest.

            h4 What are the contents within the Guardian ad Litem’s Report?
            p The report shall summarize the Guardian ad Litem’s investigation, including identifying all sources the Guardian ad Litem contacted or relied up in preparing the report.  The Guardian ad Litem shall offer recommendations concerning child custody, visitation and child-related issues and the reasons supporting those recommendations.

            h4 Does the Guardian ad Litem make the final decision as to who is awarded custody of the children?
            p No.  The Judge hearing the issue of custody shall make the final determination of custody of a child.  The Guardian ad Litem will make a recommendation that the Judge may take into consideration.  The duty of the Judge shall be to exercise discretion to look and determine solely what is for the best interest of the child and what will best promote the child’s welfare and happiness and to make his or her award accordingly.

            h4 What relevant factors will the Judge consider in determining the best interests of the child?
            p In determining the best interest of the child, below are some of the factors that the Judge may consider:
            p (A)	The love, affection, bonding and emotional ties existing between each parent and the child;
            p (B)	The love, affection, bonding and emotional ties existing between the child and his or her siblings, half siblings, and stepsiblings and the residence of such other children;
            p (C)	The capacity and disposition of each parent to give the child love, affection and guidance and to continue the education and rearing of the child;
            p (D)	Each parent’s knowledge and familiarity of the child and the child’s needs;
            p (E)	The capacity and disposition of each parent to provide the child with food, clothing, medical care, day-to-day needs, and other necessary basic care, with consideration made of the potential payment of child support by the other parent;
            p (F)	The home environment of each parent considering the promotion of nurturance and safety of the child;
            p (G)	The importance of continuity in the child’s life and the length of the time the child has lived in a stable, satisfactory environment;
            p (H)	The stability of the family unit of each of the parents;
            p (I)	The mental and physical health of each parent;
            p (J)	Each parent’s involvement, or lack thereof;
            p (K)	Each parent’s employment schedule; and
            p (L)	The willingness and ability of each of the parents to facilitate and encourage a close and continuing parent-child relationship between the child and the other parent.

            p.contactLang Contact The Campbell Law Practice, LLC today to speak to an experienced Guardian ad Litem.
