//
   Created with JetBrains WebStorm.
   User: keithelliott
   Date: 12/31/12
   Time: 10:53 AM
   To change this template use File | Settings | File Templates.
extends index
block content
    div#content
        hgroup
            h1 Practice Areas
            h2 WORKERS’ COMPENSATION
            p When you are injured while performing your job, life can immediately feel overwhelming.  In today’s economy, your employment and paycheck are vital to you and your family.  On top of the pain and discomfort you may be feeling from your injury during this difficult time, you now have to communicate routinely with doctors, adjusters and your employer.  This can be intimidating.  It is important that you have an attorney representing you and looking out for your best interest so you can focus on recovering from your work related injury.
            p The Campbell Law Practice, LLC can represent you if:
            ul.showbullets
                li Just suffered a work related injury and are at the beginning  of your claim;
                li Your employer refuses to accept your injury under workers’ compensation;
                li Suffered a permanent disability from a work-related injury;
                li Had a family member involved in a fatal accident at work;
                li Contracted an occupational  or disease at work;
                li Have a psychological disorder due to your work injury; or
                li Have a current workers’ compensation claim and are ready to resolve it through settlement.
            a(href='/workerscomp') LEARN MORE


            h2 ADOPTIONS
            p The Campbell Law Practice, LLC focuses on bringing families together by adoption.  Every child deserves to have loving and caring parents overseeing their life.  The adoption process can be very long and arduous.  An experienced attorney can make the experience less stressful.
            p The Campbell Law Practice, LLC is accepting the following Adoption cases:
            ul.showbullets
                li Adoption through Public Agency and Foster Care Adoptions;
                li Adoption by an Independent Third Party (Private Adoptions);
                li Interstate Adoption;
                li Adoption by a Step-parent; and
                li Adoption by a Relative.
            a(href='/adoptions') LEARN MORE

            h2 GUARDIAN AD LITEM
            p Child custody disputes are emotional and difficult for each member of the family.  The impact of a divorce, custody or visitation dispute can be traumatic, especially for children.   It is very important to have an experienced and trained Guardian ad Litem on the case whose sole purpose is to make a decision that is in the best interest of the child.  Contact The Campbell Law Practice, LLC today to learn the relevant factors that are taken into consideration in determining the best interests of the child.
            a(href='guardian_ad_litem') LEARN MORE

