//
   Created with JetBrains WebStorm.
   User: keithelliott
   Date: 1/8/13
   Time: 1:23 AM
   To change this template use File | Settings | File Templates.
extends layout
block header
    div#banner_background(style="height:240px")
        div#banner
            img(src='../images/workerscomp.png')
            div.caption(style="bottom: 10px;width: 947px;margin-left: 10px;")
                p Workers' Compensation law allows workers that are injured, killed or suffer an illness in the course of their employment to recieve the medical, rehabilitation, income, death and other benefits they deserve.
    div.content_wrapper
block content
    div#content
        hgroup
            h1 Workers' Compensation
            p If you are injured on-the-job, you may be entitled to receive workers’ compensation benefits. It is important that you contact an experienced Georgia workers' comp attorney immediately to protect your legal rights. Workers’ Compensation law allows workers who are injured, killed or suffer an illness in the course of their employment to receive the medical, rehabilitation, income, death and other benefits they deserve.

            h3 Medical Benefits
            p If you are injured on-the-job, it is imperative that you notify your employer immediately of your injury.  Prompt notification of your injury to your employer will help to preserve your legal rights and assist your employer with commencing your medical benefits in a timely manner.  In most circumstances, you are required to select a medical provider from a list of physicians posted by your employer in a prominent location.  If you do not receive medical treatment from one of the physicians posted on the list, your medical bills may not be covered by your workers’ compensation benefits.  In order to make certain that you are receiving the medical treatment that you are entitled to, contact an experienced workers’ compensation attorney today.

            h3 Income Benefits
            p If you are unable to work because of your on-the-job injury, you are also entitled to receive weekly income benefits.  There are four basic income benefits.

            p (1)	 Temporary Total Disability (TTD) benefits:  An injured worker is entitled to receive this benefit if an injury occurs on-the-job and is unable to work due to the disabling injury.  These benefits are paid at a rate of two-thirds of the injured worker's Average Weekly Wage at the time of the injury, but will not exceed the maximum rate available under the law on the date of the accident.  For non-catastrophic injuries that occur on or after July 1, 1992, an injured worker is limited to a maximum of 400 weeks of TTD benefits beginning as of the date of accident.

            p (2)	Temporary Partial Disability (TPD) benefits:  After a worker is injured on-the-job, he is entitled to this income benefit if he returns to work at a reduced wage because of an on-the-job injury.  These benefits are paid at a rate of two-thirds of the difference between the injured worker's pre-accident Average Weekly Wage and post-accident Average Weekly Wage, but will not exceed the maximum rate available under the law on the date of accident.  An injured worker is limited to a maximum of 350 weeks of TPD benefits beginning as of the date of accident.

            p (3)	Permanent Partial Disability (PPD) benefits: If an injured worker suffers a permanent disability for loss of body members or for the partial loss of use of the body, then he will be entitled to this benefit.  These benefits are payable on the basis of a permanent impairment rating assigned by the injured worker's Authorized Treating Physician in accordance with the current American Medical Association Guidelines.  This rating is then applied to a pre-determined formula to determine the number of weeks of PPD benefits to which an injured worker is entitled.

            p (4)	Death benefits:  If an employee whose on-the-job injuries resulted in death, an eligible dependent would be entitled to receive this benefit.

            h3 Rehabilitation Benefits
            p When someone suffers a catastrophic injury on-the-job, there are rehabilitation benefits that must be provided to the injured workers by the employer and the workers’ compensation insurance carrier.  Rehabilitation may be attained through medical treatment, vocational evaluation and counseling, psychological evaluation and additional training.   It is important that the injured worker contact an attorney experienced in workers’ compensation to help attain this vital worker’s compensation benefit.

            h3 Death Benefits
            p In the unfortunate circumstance that a job related injury results in death, consult a knowledgeable workers compensation attorney at The Campbell Law Practice, LLC to advise you about workers’ compensation death benefits.  Generally, death benefits are payable to an employee’s dependents who were wholly dependent upon the employee’s earnings for support at the time of the injury.  Also, the employer is liable for burial expenses.

            h1 WORKERS’ COMPENSATION FAQ
            h4 What should I do if I am injured at work?
            p If you are injured on-the-job, you should report your injury to your employer immediately.  Failure to report your injury to your supervisor, foreman, or another representative of your employer within 30 days of the accident may result in the loss of your workers’ compensation benefits.

            h4 If I am hurt on-the-job, can I treat with a physician of my choice?
            p In most circumstances, if you are injured on-the-job, you will be required to select a medical provider from a list of physicians posted by your employer in a prominent location.  However, there are circumstances that will allow you to select a physician of your choice.
                span.contactLang Contact an experienced workers’ compensation attorney to advise you of your legal rights.

            h4 When does my coverage for workers’ compensation begin?
            p You are covered by workers’ compensation on your first day of employment.  All employers with 3 or more employees are required by law to carry workers’ compensation insurance.

            h4 What type of injury is covered by workers’ compensation?
            p Any injury, illness, disease, or death that arises out of and in the course of employment is covered by workers' compensation.  In other words, if you are injured while you are performing your assigned job during your assigned work hours, generally, you will are covered by workers' compensation.  There are some exceptions to this general rule.  We recommend that you speak to an experienced attorney if you have any questions or concerns about whether your injury, illness, disease, or a family member's death is covered by workers' compensation.

            h4 What type of workers’ compensation benefits is an injured worker entitled to?
            p There are 4 basic types of disability benefits: Temporary Total Disability (TTD); Temporary Partial Disability (TPD); Permanent Partial Disability (PPD); and Death benefits.  The weekly rate and number of weeks of disability benefits that an injured worker receives depends on a number of factors such as the injured worker's Average Weekly Wage and the date of his or her accident.  An injured worker can receive only one type of disability benefit at a time, so benefits cannot be combined.
            p.bold Temporary Total Disability:
                span.normal Temporary Total Disability (TTD) benefits are payable to an injured worker who is injured on-the-job and unable to work according to his or her Authorized Treating Physician.  These benefits are paid at a rate of two-thirds of the injured worker's Average Weekly Wage at the time of the injury, but will not exceed the maximum rate available under the law on the date of the accident.  For non-catastrophic injuries that occur on or after July 1, 1992, an injured worker is limited to a maximum of 400 weeks of TTD benefits beginning as of the date of accident.

            p.bold Temporary Partial Disability:
                span.normal Temporary Partial Disability (TPD) benefits are payable to an injured worker when he or she returns to work in a job paying less as a result of an on-the-job accident.  These benefits are paid at a rate of two-thirds of the difference between the injured worker's pre-accident Average Weekly Wage and post-accident Average Weekly Wage, but will not exceed the maximum rate available under the law on the date of accident.  An injured worker is limited to a maximum of 350 weeks of TPD benefits beginning as of the date of accident.
            p.bold Permanent Partial Disability:
                span.normal Permanent Partial Disability (PPD) benefits are payable to the injured worker for a permanent disability resulting from an on-the-job injury.  PPD benefits are payable on the basis of a permanent impairment rating assigned by the injured worker's Authorized Treating Physician in accordance with the current American Medical Association Guidelines.  This rating is then applied to a pre-determined formula to determine the number of weeks of PPD benefits to which an injured worker is entitled.
            p.bold Death Benefits:
                span.normal Death benefits are payable to eligible dependents such as a dependent spouse or minor children of a worker whose on-the-job accident or injuries resulted in death.  Death benefits are payable at the rate of two-thirds of the deceased worker's Average Weekly Wage at the time of the accident not to exceed the maximum allowed under the law for all eligible dependents.  Death benefits also include funeral expenses payable up to the maximum allowed under the law as of the date of accident.
            h4 How much will an attorney cost to represent me on my workers’ compensation case?
            p The Campbell Law Practice, LLC represents workers’ compensation clients on a contingency basis.  In other words, you do not have to pay our law firm on an hourly or up-front fee basis.  Our law firm receives payment for our legal fees based on the benefits that we recover for you.
                span.contactLang Contact The Campbell Law Practice, LLC for a free workers’ compensation consultation.


